@media screen and (max-width: 768px)  {
.name{
    font-size: 1em;
   
}
#Chat-side-name{
    font-size: 1em;
}
    
}
@media screen and (max-width: 468px)  {

     .name{
        font-size: .8em;
    }
    #Chat-side-name{
        font-size: .8em;
    }
    
}  