
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.left-side {
    border: 2px solid black;
    display: flex;
    align-items: center;

    justify-content: space-between;
}


.side-container ul li {
    list-style: none;
}

.user-image img {
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: -7px;
}

.top-left-icon {
    display: flex;

    float: right;
    /* padding-bottom: -17px; */
    margin-top: -5px;



}

.top-left-icon img {
    height: 20px;
    margin-top: 10px;
    margin-left: 15px;
}

.top-left-icon li {
    padding: 10px;
    padding-left: 20px;
    padding-right: 23px;
}

#searchbar {
    background-color: white;
    border-bottom: 1px solid lightgrey;
    
        /* border-radius: 14px;
        width: 90%;
        margin: 3px; */
    

}

.search-container {
    display: flex;
    background: white;
    border-bottom: 1px solid lightgray;
      /* height: 40px; */
}

.search-container ion-icon {

    position: relative;
    top: 16px;
    left: 21px;

}

#searchname {
    border-radius: 6px;
    height: 30px;
    width: 90%;
    background-color: #e7e7e7;
    margin-bottom: 10px;
    margin-top: 9px;
    padding: 5px 30px;
    border: none;
    /* margin-left: 0px; */
    /* border-bottom: 1px solid black; */
}

.container2 {
    display: flex;
    align-items: center;
    background-color: white;
    height: 50px;
    border-bottom: 1px solid lightgray;
    /* overflow: auto; */
    

}


.name {
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px;

}

.name p {
    font-size: 15px;
}

.left-side-items {
    /* overflow: auto; */
    overflow-y: scroll;
}

.container2 .people {
    height: 35px;
    width: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 5px;
}

.people img {
    height: 100%;
    width: 100%;
}

.whatsapp {
    display: flex;
    justify-content: space-between;
    flex: 12;
}

.side-container {
    /* border-right: 1px solid black; */
    background-color: #ededed;
    flex: 5;
    display: flex;
    flex-direction: column;

}

.user-image {
    /* padding-top: 15px;
    padding-left: 5px; */
    /* border-bottom: 1px solid black; */
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-right: 1px solid #cbc6c6;
}



.right-container {
    flex: 12;
    background-image: url(background.png);
    display: flex;
    flex-direction: column;
}

.right-container img {
    width: 100%;
}

.user-image-right img {
    width: 30px;

    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.user-image-right {
    display: flex;
    justify-content: space-between;
    background-color: #ededed;
    align-items: center;
    height: 55px;
}

.top-right-icon {
    display: flex;
    margin-left: auto;
}

.top-right-icon li {
    list-style: none;
    padding: 15px;
}

#Chat-side-name {
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 500;
    font-size: 20px;


}
.blank-space{
   
    display: flex;
    position: relative;
    width: 100%;
    padding: 50px;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}
.blank-space p{
    position: relative ;
    right: 0 ;
    text-align: left ;
    max-width: fit-content;
    padding: 12px;
    margin: 5px;
    background-color: mistyrose;
    border-radius: 10px;
    font-size: 0.9em;

} 

.li-receive{
    position: relative;
    right: 0 ;
    text-align: right !important;
    max-width: fit-content !important;
    margin-left:auto !important;
    padding: 12px;
    background-color: #dcf8c6 !important;
    border-radius: 10px;
    font-size: 0.9em;

}


.right-footer {
    display: flex;
    justify-content: space-between;
    background: #ededed;
    height: 50px;
    padding-right: 17px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 9px;
    width: 100%;
    align-items: center;
}

.right-footer ul {
    display: flex;
}

.message-area {
    flex: 1;
}

.right-footer ion-icon {
    width: 50px;
    height: 25px;
}

.right-footer li {
    list-style: none;
}
.right-footer input{
    
        width: 100%;
        border: none;
        padding: 9px;
        border-radius: 11px;
    
}

.footer-search {
    width: 100%;
    border-radius: 10px;
    height: 35px;
    margin-bottom: -2px;
    padding: 10px;
    background-color: white;

}

/* .footer-search-container input {
    width: 85%;
    border: none;
    position: relative;
    bottom: 15px;
    padding: 7px 5px;


} */

/* .footer-search-container .ionicon s-ion-icon {
    position: relative;
    bottom: 4px;
} */

.doted-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px dashed black;
    margin: 9px;
     /* padding: 6px; */
     /* margin-left: 8px; */
    /* left: -14px; */
}

#click{
  
        display: flex;
        align-items: center;
        gap: 18px;
        padding: 0px 15px;
    
}

button{
    border: none;
}
.right-footer .send {
    left: 6px;
    position: relative;
    color: black;
   
}
.right-message{
    float: right;
    margin-top: 15px;

}